body {
	font-family: arial;
}

#assignment-instructions {
	color: blue;
	font-family: sans-serif;
}

code {
	font-family: monospace;
	color: red;
}

.second-li {
	color: green;
}

li + li {
	background-color: black;
	color: white;
}

ol > li {
	background-color: black;
	color: white;
}